<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'images/logo.webp' %}" type="image/x-icon">
    <title>{% block title %} {% endblock %} </title>
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% comment %} <script src="https://kit.fontawesome.com/9f04172127.js" crossorigin="anonymous"></script> {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>
  <body>
    <header>
      <input type="checkbox" id="chek">
      <label for="chek"><i class="fa-solid fa-bars"></i></label>
      <a href="{% url 'account:home' %}" id="logo"><img src="{% static 'images/logo.svg' %}" alt=""></a>
      <nav>
        <a href="{% url 'account:about' %}">about us</a>
        <a href="{% url 'account:contact' %}">contact</a>
        {% if user.is_authenticated %}
          {% if user.doctor %}
            <a href="{% url 'account:about' %}">appointments</a>
            <a href="{% url 'account:about' %}">profile</a>
            {% comment %} <a href="{% url 'account:about' %}">prescription</a>           {% endcomment %}
          {% endif %}
          {% if user.patient %}
            <a href="{% url 'account:about-us' %}">Your appointments</a>
            <a href="{% url 'account:about-us' %}">profile</a>
            <a href="{% url 'account:about-us' %}">Medical Records</a>       
          {% endif %}
          
        {% else %}
          <a href="{% url 'account:registration' %}">SignUp</a>
          <a href="{% url 'account:login' %}">Login</a>
        {% endif %}
      </nav>
      {% if user.is_authenticated %}
        <form action="{% url "account:logout" %}" method="post"> 
          <button class='mybtn' type="submit">Logout</button>
          {% csrf_token %} 
        </form>
      {% endif %}
    </header>
    {% block content %}
    {% endblock %}
    
  </body>
</html>