{% extends "../base1.html" %}
{% load static %}
{% block title %}Heatlh App|Homepage{% endblock %}
{% block content %}
  <section class="background-image">
    <div class="background-content">
        <h2>We have Best Medicare <br>
            plan option for you</h2>
            <a href="#">Read more</a>
    </div>
    
  </section>
  <div class="our-services">
    <h1>our <span>services</span></h1>


    <div class="main-services">
        <div class="inner-main-services">
            <i class="fas fa-calendar-alt"></i>
            <h2>Book Appointment</h2>
            <p> molestiae iure assumenda cumque perferendis ad libero excepturi amet ex aliquid harum velit repellat quaerat in. Amet, unde!</p>
        </div>

        <div class="inner-main-services">
            <i class="fas fa-clinic-medical"></i>
            <h2>emergency help</h2>
            <p> molestiae iure assumenda cumque perferendis ad libero excepturi amet ex aliquid harum velit repellat quaerat in. Amet, unde!</p>
        </div>

        <div class="inner-main-services">
            <i class="fas fa-user-tie"></i>
            <h2>medical staff</h2>
            <p> molestiae iure assumenda cumque perferendis ad libero excepturi amet ex aliquid harum velit repellat quaerat in. Amet, unde!</p>
        </div>

        <div class="inner-main-services">
            <i class="fa fa-comments"></i>
            <h2>talk to an expert</h2>
            <p> molestiae iure assumenda cumque perferendis ad libero excepturi amet ex aliquid harum velit repellat quaerat in. Amet, unde!</p>
        </div>
    </div>
  </div>
  <section id="signup">
    <h2 class="slug">Seen enough and reay to get started</h2>
    <div class="title">Talk to a medical expert right now!</div>
    <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed maxime quasi earum magnam consequuntur sapiente harum, quia itaque at labore. Laudantium, minus assumenda eligendi rerum quaerat nemo ipsam voluptas eum.</div>
    <div class="button-wrapper">
        <button class="highlight">Signup Now</button>
        <button>Contact Us</button>
    </div>
</section>

  <!-- our team -->
  <div class="our-team">
    <h1>our <span>team</span></h1>
    <!-- <a href="#">View more</a> -->
    <div class="main-team">
        <div class="inner-team">
            <img src="{% static 'images/pic2.webp' %}" alt="">
            <h2>dr. riky doe</h2>
            <div class="socail">
                <i class="fab fa-linkedin"></i>
                <i class="fas fa-envelope"></i>
                <i class="fas fa-phone-alt"></i>
            </div>
        </div>
        <div class="inner-team">
            <img src="{% static 'images/pic2.webp' %}" alt="">
            <h2>dr. riky doe</h2>
            <div class="socail">
                <i class="fab fa-linkedin"></i>
                <i class="fas fa-envelope"></i>
                <i class="fas fa-phone-alt"></i>
            </div>
        </div>
        <div class="inner-team">
            <img src="{% static 'images/pic2.webp' %}" alt="">
            <h2>dr. riky doe</h2>
            <div class="socail">
                <i class="fab fa-linkedin"></i>
                <i class="fas fa-envelope"></i>
                <i class="fas fa-phone-alt"></i>
            </div>
        </div>
        
    </div>
    
  </div>
{% endblock %}
